body {
background-color: lime;
}

.fuckwit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
  margin: 2rem;
  background-color: orange;
}


@media only screen
and (min-device-width: 321px)
and (max-device-width: 566px) {

  body {
    background-color: pink;
  }

.fuckwit {
  background-color: blue;
  font-size: 1.5rem;
}

}

@media only screen
and (min-device-width: 321px)
and (max-device-width: 566px) {

  body {
    background-color: pink;
  }

  .fuckwit {
    background-color: aquamarine;
    font-size: 1.5rem;
  }

}

@media only screen
and (min-width: 321px)
and (max-width: 566px) {

  body {
    background-color: pink;
  }

  p {
    font-size: 2.5rem;
  }

  .fuckwit {
    background-color: grey;
    font-size: 1.5rem;
  }

}


@media only screen
and (min-width: 321px)
and (max-width: 566px) {

  body {
    background-color: yellow;
  }

}
