body {
background-color: yellow;
}

.fuckwit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
  margin: 2rem;
  background-color: orange;
}


@media only screen
and (min-width: 640px)
and (max-width: 1000px) {

  body {
    background-color: pink;
  }

.fuckwit {
  background-color: blue;
  font-size: 1.5rem;
}

}
